.container {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  background-color: white;
  max-width: 1400px;
  gap: 5rem;
}

.content1 {
  background: #ffb861;
  width: 700px;
  height: 650px;
  position: relative;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
}

.content1_img {
  object-fit: cover;
  left: 170px;
  height: 652px;
  transform: translateX(9rem);
}

.content2 {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content2_title {
  font-size: 32px;
  color: black;
  text-align: start;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.content2_description {
  color: #807d7d;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0px;
}
