.container {
  padding: 1vw 250px;
  /* background-color: var(--color-astronaut-blue-50); */
  background-color: white;
}

.foryou {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 75rem;
  padding: 0 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #cce8f5 15%,
    #50b4e5 50%,
    #cce8f5 85%,
    #ffffff 100%
  );
}

.touchOfHappiness {
  background-color: white;
  margin-top: 75rem;
  height: 45rem;
  position: absolute;
  width: 100%;
  left: 0;
}

.toadopt {
  margin-top: 120rem;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 60rem;
  padding: 0 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffd9ab 15%,
    #f7931c 50%,
    #ffd9ab 85%,
    #ffffff 100%
  );
}
