@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}
:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  --color-astronaut-blue-50: #effaff;
  --color-astronaut-blue-100: #ddf4ff;
  --color-astronaut-blue-200: #b3ebff;
  --color-astronaut-blue-300: #70dcff;
  --color-astronaut-blue-400: #25cbff;
  --color-astronaut-blue-500: #00b6ff;
  --color-astronaut-blue-600: #0091db;
  --color-astronaut-blue-700: #0074b1;
  --color-astronaut-blue-800: #006292;
  --color-astronaut-blue-900: #02486b;
  --color-astronaut-blue-950: #02334f;
  --color-astronaut-blue-black: #000b11;
}

.prima-astronaut-button {
  background-color: var(--color-astronaut-blue-900);
  border: none;
  color: #ffffff;
  font-size: 14px;
  padding: 16px 26px;
  border-radius: 8px;
  max-width: 200px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.prima-astronaut-button-image {
  background-color: var(--color-astronaut-blue-900);
  border: none;
  color: #ffffff;
  font-size: 14px;
  padding: 16px 26px;
  border-radius: 8px;
  max-width: 200px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  gap: 10px;
}

.prima-astronaut-button-image-2 {
  background: #e39a41;
  border: none;
  color: #ffffff;
  font-size: 14px;
  padding: 16px 26px;
  border-radius: 8px;
  max-width: 200px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  gap: 10px;
}

.form-input {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1.3rem;
  background-color: #eeeeee75;
  color: #9c9898;
  display: flex;
  align-items: center;
  gap: 10px;
  input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #9c9898;
    font-size: 1rem;
  }
  input:focus {
    border-color: #ccc;
  }
}
